/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~bootstrap/dist/css/bootstrap.css';

body {
  position: relative;
  color: white;
  height: 100vh;
  background: #2c2f33;
  font-family: sans-serif;
  overflow-y: hidden;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

#root {
  height: 100%;
}

#title-bar {
  -webkit-app-region: drag;
  height: 24px;
  background-color: #3b3e44;
  padding: none;
  margin: 0px;
}

#title {
  position: fixed;
  left: 10px;
  font-family: Lucida Console;
  color: #787f86;
  font-weight: bold;
}

button {
  background-color: white;
  padding: 5px 10px;
  margin: 3px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  outline: none !important;
}

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0px;
  right: 6px;
}

.min-btn {
  background-color: rgb(230, 182, 94);
}

.max-btn {
  background-color: rgb(52, 160, 52);
}

.close-btn {
  background-color: rgb(173, 65, 65);
}

button:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.home-container {
  text-align: center;
  height: 100%;
}

.center-div {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#files-container {
  margin-top: 50px;
  width: 60%;
}

.file-row {
  padding: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(61, 61, 61);
}

.interactive-icon {
  opacity: 0.7;
}

.interactive-icon:hover {
  opacity: 0.3;
}

.file-upload {
  display: none;
}

.script-name {
  font-size: 14px;
  margin-top: 7px;
  float: left;
}

.script-icon {
  margin-top: 3px;
}

.clickable-script-name {
  height: 40px;
  display: flex;
  margin-left: 10px;
}

.script-remove-button {
  background-color: rgb(216, 68, 68);
}

.home-button-row {
  margin-top: 10px;
}

.home-button {
  background-color: rgb(86, 150, 86);
}
