/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 *
 * TODO:
 * - Prune this file
 * - learn css lol
 */
@import '~bootstrap/dist/css/bootstrap.css';

body {
  position: relative;
  color: white;
  height: 100vh;
  background: #2c2f33;
  font-family: sans-serif;
  overflow-y: hidden;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

#root {
  height: 100%;
}

#title-bar {
  -webkit-app-region: drag;
  height: 24px;
  background-color: #3b3e44;
  padding: none;
  margin: 0px;
}

#title {
  position: fixed;
  left: 10px;
  font-family: Lucida Console;
  color: #787f86;
  font-weight: bold;
}

button {
  background-color: white;
  padding: 5px 10px;
  margin: 3px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  outline: none !important;
}

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0px;
  right: 6px;
}

.min-btn {
  background-color: rgb(230, 182, 94);
}

.max-btn {
  background-color: rgb(52, 160, 52);
}

.close-btn {
  background-color: rgb(173, 65, 65);
}

button:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

#home-parent-div {
  height: 100%;
}

#file-profile-parent-div {
  height: 100%;
}

#home-main-container {
  height: 100%;
}

#file-profile-main-container {
  margin-top: 50px;
}

#home-upload-icon-row {
  height: 40%;
}

.upload-icon-div {
  height: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.upload-icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto auto 0; /* position to bottom and center */
}

#upload-text-row {
  margin-top: 20px;
  color: #8e9299;
}

#home-files-div {
  height: 50%;
  bottom: 0px;
  position: absolute;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  border-top: 2px solid #45484e;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#home-files-div::-webkit-scrollbar {
  display: none;
}

.file-row {
  padding: 1px;
  margin: 10px;
  border-bottom: 1px solid rgb(61, 61, 61);
}

.interactive-icon {
  opacity: 0.7;
}

.interactive-icon:hover {
  opacity: 0.3;
}

.file-upload {
  display: none;
}

.file-name {
  font-size: 14px;
  margin-top: 7px;
  float: left;
}

.file-icon {
  margin-top: 3px;
}

.clickable-file-name {
  height: 40px;
  display: flex;
  margin-left: 10px;
}

.file-remove-button {
  background-color: rgb(216, 68, 68);
}

.file-run-button {
  background-color: rgb(86, 150, 86);
}

.home-button-row {
  margin-top: 10px;
}

.centered-row {
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.thirty-percent-centered-row {
  width: 30%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.fifty-percent-centered-row {
  width: 50%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.file-profile-form-label {
  margin-top: 10px;
}

.file-profile-history-table {
  margin-top: 35px;
}

.file-path-text {
  color: #909294;
}
